rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    //==================== ユーザー ====================//

    match /users/{userId} {
      function isUserAuthenticated() {
        return request.auth != null;
      }

      function isUserHimself() {
        return request.auth.uid == userId;
      }

      function isValidUserCreate() {
        // let fields = [
        //   "email", 
        //   "createdAt"
        // ];
        // let maxTimestamp = 30;
        
        return 
          isUserAuthenticated() &&
          isUserHimself();
        //   isValidFieldsForCreate(fields) &&
        //   isValidEmail() &&
        //   isValidTimestamp("createdAt", maxTimestamp);
      }

      function isValidFieldsForCreate(fields) {
        // フィールドを完全一致にする
        let keys = request.resource.data.keys();
        return 
          keys.hasAll(fields) && // 必須
          keys.hasOnly(fields); // 許可
      }

      function isValidEmail() {
        return request.resource.data.email == request.auth.token.email;
      }

      function isValidTimestamp(type, maxTimestamp) {
        let ts = request.resource.data[type];
        return 
          ts is string &&
          ts.size() >= 1 && // 必須
          ts.size() <= maxTimestamp;
      }
      

      //***** 単一ユーザー取得 *****//
      allow get: if 
        isUserAuthenticated() &&
        isUserHimself();

      //***** ユーザー追加 *****//
      allow create: if 
        isValidUserCreate();

      //==================== 動物 ====================//
      match /animals/{animalId} {

        function isValidCreate() {
          let fields = [
            "id",
            "name", 
            "sex", 
            "breedingIdAsChild", 
            "breedingIdsAsParent",
            "note", 
            "folderIds",
            "createdAt",
            "createdBy", 
            "updatedAt",
            "updatedBy"
          ];
          let maxId = 100;
          let maxAnimalName = 50;
          let maxNote = 500;
          let maxTimestamp = 30;

          return 
            isValidFieldsForCreate(fields) &&
            isValidAnimalId() &&
            isValidName(maxAnimalName) &&
            isValidSex() &&
            isValidBreedingAsChild(maxId) &&
            isValidBreedingsAsParent() &&
            isValidNote(maxNote) &&
            isValidTimestamp("createdAt", maxTimestamp) &&
            isValidTimestamp("updatedAt", maxTimestamp) &&
            isValidModifier("createdBy", maxId) &&
            isValidModifier("updatedBy", maxId);
        }

        function isValidFieldsForCreate(fields) {
          // フィールドを完全一致にする
          let keys = request.resource.data.keys();
          return 
            keys.hasAll(fields) && // 必須
            keys.hasOnly(fields); // 許可
        }

        function isValidAnimalId() {
          return request.resource.data.id == animalId;
        }

        function isValidName(maxAnimalName) {
          let name = request.resource.data.name;
          return 
            name is string &&
            name.size() >= 1 && // 必須
            name.size() <= maxAnimalName;
        }

        function isValidSex() {
          let sex = request.resource.data.sex;
          return 
            sex in ["", "male", "female"];
        }

        function isValidBreedingAsChild(maxId) {
          let breedingIdAsChild = request.resource.data.breedingIdAsChild;
          return 
            breedingIdAsChild is string &&
            breedingIdAsChild.size() <= maxId;
        }

        function isValidBreedingsAsParent() {
          let breedingIdsAsParent = request.resource.data.breedingIdsAsParent;
          return 
            breedingIdsAsParent is list &&
            breedingIdsAsParent.size() <= 100;
        }

        function isValidNote(maxNote) {
          let note = request.resource.data.note;
          return 
            note is string &&
            note.size() <= maxNote; // 500文字以内
        }

        function isValidTimestamp(type, maxTimestamp) {
          let ts = request.resource.data[type];
          return 
            ts is string &&
            ts.size() >= 1 && // 必須
            ts.size() <= maxTimestamp;
        }

        function isValidModifier(type, maxId) {
          let modifier = request.resource.data[type];
          return 
            modifier is string &&
            modifier.size() <= maxId && 
            modifier == userId; // 現時点では自分のidのみ許可
        }

        //***** 単一動物取得 *****//
        allow get: if 
          isUserAuthenticated() && 
          isUserHimself();
      
        //***** 複数動物取得 *****//
        allow list: if 
          isUserAuthenticated() &&
          isUserHimself();

        //***** 動物追加 *****//
        allow create, update: if 
          isUserAuthenticated() &&
          isUserHimself() &&
          isValidCreate();

        //***** 動物削除 *****//
        allow delete: if 
          isUserAuthenticated() &&
          isUserHimself();
      }
      // breedings
      match /breedings/{breedingId} {
        allow read, write : if
          isUserAuthenticated() &&
          isUserHimself();
      }

      // breedingsFolders
      match /breedingsFolders/{breedingsFolderId} {
        allow read, write : if
          isUserAuthenticated() &&
          isUserHimself();
      
      }
      // animalsFolders
      match /animalsFolders/{animalsFolderId} {
        allow read, write : if
          isUserAuthenticated() &&
          isUserHimself();
      }
    }
  }
}